<div class="jumbo-container">
  <div class="jumbotron jumbotron-fluid" style="text-align: center" dir="rtl">
    <div class="container">
      <h1 class="display-3">קבוצות</h1>
      <p class="lead">יש להזין את הקבוצות שמשתתפות במשחק</p>
      <hr class="my-4">
      <trk-teams-management [teams]="teams$ | async"></trk-teams-management>
      <hr class="my-4">
      <p>לתחילת המשחק, לחצו על <b>התחל</b></p>
      <p class="lead">
        <a md-raised-button class="btn btn-primary" routerLink="/trivia" role="button" [disabled]="(teams$ | async).length <= 0">התחל</a>
      </p>
    </div>
  </div>
</div>