.flex-container {
    display: flex;
}

.flex-container .flex-column {
    flex: 1;
    flex-direction: column;
}

.category-name {
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
    height: 100px;
    margin: 0 10px 0 0;
    padding: 15px 10px;
}

md-card {
    max-width: none;
}