<div>
  <md-toolbar color="primary">
    <button md-icon-button routerLink="/home"><md-icon>home</md-icon></button>
    <h1>מלך הטריוויה 2017</h1>
    <trk-header-score-board></trk-header-score-board>
    <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
      <button md-menu-item (click)="openCredit()">קרדיט</button>
      <button md-menu-item>Option 2</button>
  </md-menu>
</div>