.mat-card {
    max-width: none;
    height: 165px;
    padding: 0px 12px;
    margin: 10px 10px 10px 0px;
}
/*
for 6 questions, changed height from 165px to 135 px;
*/
.show-score,
.show-question,
.show-answer {
    width: 100%;
    text-align: center;
    direction: rtl;
    font-weight: bold;
}

.show-score {
    font-size: 72px;
    line-height: 165px;
    color: white;
}

.show-question {
    color: white;
}

.show-question,
.show-answer {
    font-size: 30px;
}

.question-cell {
    display: flex;
}

.question-cell.score {
    background: dodgerblue;
}

.question-cell.question {
    background: mediumpurple;
}

.question-cell.answer {
    background: lightgreen;
}

.question-cell .question-button {
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.question-cell .mat-button \deep\ span {
    width: 100%;
    height: 100%;
}