.flex-container {
    display: flex;
}

.flex-container .flex-column {
    flex: 1;
    flex-direction: column;
}

.category-name {
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    margin: 0;
}